@model IceCreamProject.Models.MemberPrice
@using IceCreamProject.Extensions
@{
    ViewData["Title"] = "Edit member price";
    Layout = "~/Areas/System/Views/backend.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Edit Membership Price</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Edit Membership Price</div>
                    <div class="card-body">
                        <form id="formEdit"  enctype="multipart/form-data">
                            <input type="hidden" id="IDMemberShipPrice" value="@Model.IDMemberShipPrice" />

                            <div class="mb-3 row">
                                <label class="col-sm-2">Name Price <span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input id="NamePrice" value="@Model.NamePrice" class="form-control" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="durationSelect">Price Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="Duration" id="durationSelect">
                                        @Html.DropdownOption("1 week", "1 week", Model.Duration)
                                        @Html.DropdownOption("1 month", "1 month", Model.Duration)
                                        @Html.DropdownOption("1 year", "1 year", Model.Duration)
                                    </select>
                                </div>

                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2">Price <span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input name="Price" id="priceInput" class="form-control" value="@Model.Price" />
                                    <span id="formattedPrice" class="text-success mt-2"></span>

                                </div>
                            </div>

                           

                            <div class="mb-3 row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-save"></i> Save
                                    </button>
                                    <a asp-action="Index" class="btn btn-secondary">
                                        <i class="fas fa-times"></i> Cancel
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/backend/assets/js/membership/edit.js"></script>
}