@model List<IceCreamProject.Models.MemberPrice>
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Frontend.cshtml";
    List<IceCreamProject.Models.Memberships> listMember = null;
    IceCreamProject.Models.Memberships isPurchased = null;
    if (ViewBag.DataOrder != null)
    {
        listMember = ViewBag.DataOrder;
    }
}
@section Scripts{
    <link href="~/frontend/css/package.css" rel="stylesheet" />
}
<!-- Top Background Section -->
<div class="position-relative"
     style="background-image: url('@Url.Content("~/Frontend/images/banner-3.jpg")');
            background-size: cover;
            background-position: center;
            height: 200px;
            border: 3px solid rgba(255, 255, 255, 0.8); /* Light border for contrast */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
            border-radius: 10px; /* Rounded corners for a polished look */">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <nav aria-label="breadcrumb" class="pt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>
                <li class="breadcrumb-item active text-white" aria-current="page">Membership</li>
            </ol>
        </nav>
        <h5 class="pt-1 text-white fw-bold">Membership</h5>
    </div>

</div>
@if (Model.Any())
{
    <div class="section section-2">
        <section class="pb-5">
            <div class="container-lg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header d-flex flex-wrap justify-content-between my-4">
                            <h2 class="section-title">Membership Package</h2>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="pricing-grid">
                        @foreach(var item in Model)
                        {
                            if (listMember != null)
                            {
                                isPurchased = listMember.FirstOrDefault(x => x.PriceMemberID == item.IDMemberShipPrice);

                            }
                            <div class="pricing-box">
                                <div class="pricing-title">
                                   @item.NamePrice
                                </div>
                                <div class="pricing-subtitle"><i class="fa-regular fa-clock"></i> @item.Duration</div>
                                <div class="price">
                                    @item.Price.ToString("C")

                                </div>
                                <ul class="price-details">
                                    <li>
                                        <p>Access to Exclusive Recipes</p>
                                        <p>Full Recipe Access</p>
                                        <p>Purchase Recipe Books Online</p>
                                    </li>
                                </ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (listMember != null && isPurchased != null && isPurchased.Status)
                                    {
                                        <span class="btn btn-secondary">Purchased (Expired: @isPurchased.EndDate.ToString("dd/MM/yyyy"))</span>
                                    }
                                    else
                                    {
                                        <a href="/payment/@item.IDMemberShipPrice/@item.Price" class="buy-button">Buy Now </a>
                                    }
                                }
                                else
                                {
                                    <a href="/login" class="buy-button">Buy Now</a>

                                }


                            </div>

                        }
                       

                    </div>
                </div>
            </div>
        </section>
    </div>

    
}
