@model IEnumerable<IceCreamProject.Models.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Frontend.cshtml";
}

<div class="hero overlay">

	<div class="img-bg rellax">
		<img src="~/Frontend/images/ice_cream_wallpaper.jpg" alt="Image" class="img-fluid">
	</div>

	<div class="container">
		<div class="row align-items-center justify-content-start">
			<div class="col-lg-5">

				<h1 class="heading" data-aos="fade-up">Discover the Sweet World of Ice Cream!</h1>
				<p class="mb-5" data-aos="fade-up">A delightful journey where every scoop tells a story. From creamy classics to adventurous flavors, your perfect treat awaits!</p>

				@* <div data-aos="fade-up">
					<a href="https://www.youtube.com/watch?v=5n-e6lOhVq0" class="play-button align-items-center d-flex glightbox3">
						<span class="icon-button me-3">
							<span class="icon-play"></span>
						</span>
						<span class="caption">Watch Video</span>
					</a>
				</div> *@
			</div>


		</div>
	</div>


</div>


<div class="section section-2">
    <section class="pb-5">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header d-flex flex-wrap justify-content-between my-4">
                        <h2 class="section-title">Best selling products</h2>

                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-primary rounded-1">View All</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

						<div class="row">
							@foreach (var item in Model)
							{
								<div class="col">
									<div class="product-item">
										<figure>
											<a href="@Url.Action("Details", "Book", new { id = item.BookId })" title="@item.Title">
												<img src="/ImageUrl/@item.ImageUrl" alt="@item.Title" class="tab-image" />
											</a>
										</figure>
										<div class="d-flex flex-column text-center">
											<h3 class="fs-6 fw-normal">@item.Title</h3>
											<div>
												<span class="rating">
													<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
													<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
													<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
													<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
													<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
												</span>
												<span>(222)</span>
											</div>
											<div class="d-flex justify-content-center align-items-center gap-2">
												@if (item.Price > 20)
												{
													<del>$24.00</del>
												}
												<span class="text-dark fw-semibold">@item.Price.ToString("C")</span>
												<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
											</div>
											<div class="button-area p-3 pt-0">
												<div class="row g-1 mt-2">
													<div class="col-3">
														<!-- Input số lượng -->
														<input type="number" name="quantity" id="quantity-@item.BookId"
															   class="form-control border-dark-subtle input-number quantity" value="1" min="1" />
													</div>
													<div class="col-7">
														<!-- Nút Thêm vào Giỏ hàng -->
														<button type="button" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"
																onclick="addToCart(@item.BookId)">
															<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
														</button>
													</div>
													<div class="col-2">
														<!-- Nút yêu thích -->
														<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
															<svg width="18" height="18"><use xlink:href="#heart"></use></svg>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						</div>

						

                      
                    </div>
                    <!-- / product-grid -->
                </div>
            </div>
        </div>
    </section>


	
</div>

<div class="section service-section-1">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 mb-4 mb-lg-0">
				<div class="heading-content" data-aos="fade-up">
					<h2>Our <span class="d-block">Services</span></h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<p class="my-4" data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary">View All</a></p>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
						<div class="service-1">
							<span class="icon">
								<img src="~/Frontend/images/svg/01.svg" alt="Image" class="img-fluid">
							</span>
							<div>
								<h3>Tourism</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
						<div class="service-1">
							<span class="icon">
								<img src="~/Frontend/images/svg/02.svg" alt="Image" class="img-fluid">
							</span>
							<div>
								<h3>Package Tours</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
						<div class="service-1">
							<span class="icon">
								<img src="~/Frontend/images/svg/03.svg" alt="Image" class="img-fluid">
							</span>
							<div>
								<h3>Travel Insurance</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
						<div class="service-1">
							<span class="icon">
								<img src="~/Frontend/images/svg/04.svg" alt="Image" class="img-fluid">
							</span>
							<div>
								<h3>Airport Lounge Access</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section section-3" data-aos="fade-up" data-aos-delay="100">
	<div class="container">
		<div class="row align-items-center justify-content-between  mb-5">
			<div class="col-lg-5" data-aos="fade-up">
				<h2 class="heading mb-3">Sản Phẩm Nổi Bật</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-lg-5 text-md-end" data-aos="fade-up" data-aos-delay="100">
				<div id="destination-controls">
					<span class="prev me-3" data-controls="prev">
						<span class="icon-chevron-left"></span>

					</span>
					<span class="next" data-controls="next">
						<span class="icon-chevron-right"></span>

					</span>
				</div>
			</div>
		</div>

	</div>

	<div class="destination-slider-wrap">
		<div class="destination-slider mt-5 mb-5">
			<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="destination mb-5 ">
				<div class="col">
					<div class="product-item">
						<figure>
							<a href="index.html" title="Product Title">
								<img src="~/Frontend/images/about_2.jpg" alt="Product Thumbnail" class="tab-image" />
							</a>
						</figure>
						<div class="d-flex flex-column text-center">
							<h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
							<div>
								<span class="rating">
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
									<svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
								</span>
								<span>(222)</span>
							</div>
							<div class="d-flex justify-content-center align-items-center gap-2">
								<del>$24.00</del>
								<span class="text-dark fw-semibold">$18.00</span>
								<span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
							</div>
							<div class="button-area p-3 pt-0">
								<div class="row g-1 mt-2">
									<div class="col-3">
										<input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1" />
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
											<svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart
										</a>
									</div>
									<div class="col-2">
										<a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6">
											<svg width="18" height="18">
												<use xlink:href="#heart"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




		</div>
	</div>

</div>

<div class="section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-5 mb-4 mb-lg-0 order-lg-2" data-aos="fade-up">
				<img src="~/Frontend/images/img-1.jpg" alt="Image" class="img-fluid">
			</div>
			<div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
				<h2 class="heading mb-4">Này nên giới thiệu gì đó</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				<p class="my-4" data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary">Read more</a></p>
			</div>
		</div>
	</div>
</div>

<div class="section bg-light">




	<h2 class="heading mb-5 text-center">Này sửa thành sản phẩm bán chạy</h2>

	<div class="text-center mb-5">
		<div id="prevnext-testimonial">
			<span class="prev me-3" data-controls="prev">
				<span class="icon-chevron-left"></span>

			</span>
			<span class="next" data-controls="next">
				<span class="icon-chevron-right"></span>

			</span>
		</div>
	</div>

	<div class="wide-slider-testimonial-wrap">
		<div class="wide-slider-testimonial">
			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_1.jpg" alt="Free template by TemplateUX">
						<h3>John Doe</h3>
						<p class="position mb-5">CEO, Founder</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
					</p>
				</blockquote>
			</div>

			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_2.jpg" alt="Free template by TemplateUX">
						<h3>James Woodland</h3>
						<p class="position mb-5">Designer at Facebook</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;
					</p>

				</blockquote>
			</div>

			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_3.jpg" alt="Free template by TemplateUX">
						<h3>Rob Smith</h3>
						<p class="position mb-5">Product Designer at Twitter</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;
					</p>
				</blockquote>
			</div>

			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_1.jpg" alt="Free template by TemplateUX">
						<h3>John Doe</h3>
						<p class="position mb-5">CEO, Founder</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
					</p>
				</blockquote>
			</div>

			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_2.jpg" alt="Free template by TemplateUX">
						<h3>James Woodland</h3>
						<p class="position mb-5">Designer at Facebook</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;
					</p>

				</blockquote>
			</div>

			<div class="item">
				<blockquote class="block-testimonial">
					<div class="author">
						<img src="~/Frontend/images/person_3.jpg" alt="Free template by TemplateUX">
						<h3>Rob Smith</h3>
						<p class="position mb-5">Product Designer at Twitter</p>
					</div>
					<p>
						<div class="quote">&ldquo;</div>
						&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;
					</p>
				</blockquote>
			</div>
		</div>
	</div>



</div> <!-- /.untree_co-section -->



<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-12" data-aos="fade-up" data-aos-delay="0">

				<h2 class="heading mb-5">Sản phẩm được ưa chuộng</h2>
			</div>
		</div>
		<div class="row align-items-stretch">
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
				<div class="media-entry">
					<a href="#">
						<img src="~/Frontend/images/gal_1.jpg" alt="Image" class="img-fluid">
					</a>
					<div class="bg-white m-body">
						<span class="date">May 14, 2020</span>
						<h3><a href="#">Far far away, behind the word mountains</a></h3>
						<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

						<a href="single.html" class="more d-flex align-items-center float-start">
							<span class="label">Read More</span>
							<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
				<div class="media-entry">
					<a href="#">
						<img src="~/Frontend/images/gal_2.jpg" alt="Image" class="img-fluid">
					</a>
					<div class="bg-white m-body">
						<span class="date">May 14, 2020</span>
						<h3><a href="#">Far far away, behind the word mountains</a></h3>
						<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

						<a href="single.html" class="more d-flex align-items-center float-start">
							<span class="label">Read More</span>
							<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
				<div class="media-entry">
					<a href="#">
						<img src="~/Frontend/images/gal_3.jpg" alt="Image" class="img-fluid">
					</a>
					<div class="bg-white m-body">
						<span class="date">May 14, 2020</span>
						<h3><a href="#">Far far away, behind the word mountains</a></h3>
						<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
						<a href="single.html" class="more d-flex align-items-center float-start">
							<span class="label">Read More</span>
							<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
				<div class="media-entry">
					<a href="#">
						<img src="~/Frontend/images/gal_4.jpg" alt="Image" class="img-fluid">
					</a>
					<div class="bg-white m-body">
						<span class="date">May 14, 2020</span>
						<h3><a href="#">Far far away, behind the word mountains</a></h3>
						<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
						<a href="single.html" class="more d-flex align-items-center float-start">
							<span class="label">Read More</span>
							<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



    
	<div class="container">
		<div class="row">
			<div class="col-lg-7 text-center mb-3 mb-lg-0 text-lg-start">
				<h3 class="text-white m-0">Begin your adventurous journey here.</h3>
			</div>
			<div class="col-lg-5 text-center text-lg-end">
				<a href="#" class="btn btn-outline-white">Get started</a>
			</div>
		</div>
	</div>
</div>
