@model List<IceCreamProject.Models.Memberships>

@{
    ViewData["Title"] = "List Membership";
    Layout = "~/Areas/System/Views/backend.cshtml";
    var count = 1;
}
<link href="~/Backend/css/memberactive.css" rel="stylesheet" />
<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Memberships List</h3>
        </div>
        @if (TempData["Message"] != null)
        {
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    // Initialize Notyf
                    const notyf = new Notyf({
                        duration: 3000, // Notification duration in milliseconds
                        position: { x: 'right', y: 'bottom' }, // Position of the notification
                    });

                    // Trigger the Notyf success notification
                    notyf.success('@TempData["Message"]');
                });
            </script>
        }

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                   
                    <div class="card-body">
                        <table class="table table-hover" id="dataTables-example" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Name User</th>
                                    <th>Name Price</th>
                                    <th>Create Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(count++)</td>
                                            <td>@item.UserData?.UserName</td>
                                            <td>@item.MemberPriceData?.NamePrice</td>
                                            <td>
                                                @item.CreateDate.ToString("hh:mm dd/MM/yyyy")
                                            </td>
                                            <td>
                                                @item.EndDate.ToString("hh:mm dd/MM/yyyy")
                                            </td>

                                            <td>
                                                @if (item.Status)
                                                {
                                                    <button class="btn btn-outline-success">Active</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-outline-danger">
                                                        Expired
                                                    </button>

                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            No data
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>