@model IEnumerable<IceCreamProject.Models.Book>

@{
    ViewData["Title"] = "List Book";
    Layout = "~/Areas/System/Views/backend.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Book List</h3>
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="toast-container position-fixed  p-3" style="position: fixed; bottom: 1rem ; right: 1rem; z-index:1050" id="toast-container">
                @if (TempData["Message"] != null)
                {
                    <div class="toast align-items-center  border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Notification</strong>
                            <small>just now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            @TempData["Message"]
                        </div>
                    </div>
                }
            </div>
        }
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Create" class="btn btn-sm btn-outline-success">Add Book</a>
                    </div>
                    <div class="card-body">
                        <p class="card-title"></p>
                        <table class="table table-hover"
                               id="dataTables-example"
                               width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Descriptions</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>Category</th>
                                    <th>Recippe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BookId</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@(item.Category?.Name ?? "No category")</td>
                                        <td>@item.Recipe</td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@item.BookId" class="btn btn-sm  btn-outline-primary">Update</a>
                                            <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-sm  btn-outline-danger">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>